#picture{
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: auto;
}
#title{
  width: 300px;
  border: 15px solid rgb(13, 0, 128);
  padding: 50px;
  margin: auto;
}
#display{
  width: 300px;
  border: 15px solid rgb(124, 0, 128);
  padding: 50px;
  margin: auto;
}
#buttons{
  width: 300px;
  border: 15px solid rgb(128, 0, 0);
  padding: 50px;
  margin: auto;
}